* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 112.5%;
  color: var(--font-color);
  line-height: 1.5;
  margin: 0;
}

.main-grid {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vh;
  grid-template-rows: [header]1fr [content]auto [footer]1fr;
  grid-template-columns: 375px;
  margin: 0 auto;
}

.header {
  grid-row: header;
  background-color: var(--background-color-header);
  text-align: center;
}

.header-title-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* contains all the content between header and footer */
.content-grid {
  display: flex;
  flex-direction: column;
  grid-row: content;
  background-color: var(--background-color-content);
  overflow-y: scroll;
  overflow-wrap: break-word;
}

/* contains question box and bookmark */
.question-box {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  border: solid 1px #b8abd4;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.bookmark {
  position: absolute;
  right: 5px;
  top: -5px;
  cursor: pointer;
}

h2,
h6 {
  margin: 0;
}

.question {
  margin: 0;
}

.button {
  cursor: pointer;
  margin: 0 auto;
  font-size: smaller;
  font-family: 'Open Sans Condensed', sans-serif;
}

.button:hover {
  background-color: grey;
}

.answer {
  text-align: center;
  display: none;
}
.tags {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  list-style: none;
}

.tags > li {
  border: solid 1px #dcccff;
  border-radius: 5px;
  color: #bdaedb;
  padding: 0 5px;
}

.footer {
  display: flex;
  grid-row: footer;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-footer);
  font-size: 40px;
}

/* h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
} */

input,
button {
  font-size: 1em;
}
