label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

form {
  margin: 20px;
  align-self: center;
}

.tags {
  font-family: 'Open Sans Condensed', sans-serif;
}

.textarea {
  border-radius: 5px;
}

.submit {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.submit:hover {
  background-color: grey;
}
