.content-grid {
  align-items: center;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
  margin: 10px;
}

.tags {
  font-family: 'Open Sans Condensed', sans-serif;
}

.submit {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  margin: 50px;
}

.submit:hover {
  background-color: grey;
}
