.giphy-embed {
  margin: 0 auto;
  display: block;
}

.signin-button {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 20px;
  font-size: larger;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
}

.signin-button:hover {
  background-color: grey;
}
