* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 112.5%;
  color: var(--font-color);
  line-height: 1.5;
  margin: 0;
  color: #330499;
  background-color: var(--background-color-content);
}

.main-grid {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vh;
  grid-template-rows: [header]60px [content]auto [footer]60px;
  grid-template-columns: 375px;
  margin: 0 auto;
}

.header {
  grid-row: header;
  /* background-color: #dcccff; */
  text-align: center;
}

.header-title {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.profile-grid {
  display: flex;
  grid-row: content;
  flex-direction: column;
  /* background-color: #f5f4f8; */
  overflow-y: scroll;
  overflow-wrap: break-word;
}
.profile-box {
  display: flex;
  position: relative;
  height: auto;
  /* background-color: #f5f4f8; */
  border-radius: 5px;
  margin: 20px;
  font-size: 1em;
}

.profile-box__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  padding-left: -20px;
}

.profile-box__name {
  padding: 10px;
}

.about-me-box {
  /* background-color: #f5f4f8; */
  border-bottom: solid 1px #330499;
  padding-bottom: 50px;
  margin: 20px;
  font-size: 1em;
}

.about-me-box__title {
  margin: 0;
}

.tags-box {
  /* background-color: #f5f4f8; */
  border-bottom: solid 1px #330499;
  margin: 20px;
  font-size: 1em;
  padding-bottom: 50px;
}

.tags-box__title {
  margin: 0;
}

.tags-box__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.tags-box__tags > .tags-box__text {
  border: solid 1px #dcccff;
  border-radius: 5px;
  color: #a195b9;
  padding: 0 5px;
  margin-left: 2px;
  margin-bottom: -10px;
  margin-right: 2px;
}

.profile-grid__button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-size: smaller;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  margin-top: 10px;
}

.profile-grid__button:hover {
  background-color: grey;
}

.footer {
  display: flex;
  grid-row: footer;
  justify-content: space-around;
  align-items: center;
  /* background-color: #dcccff; */
  font-size: 40px;
}

.dark-mode {
  background-color: black;
  color: white;
}

/* .dark {
  cursor: pointer;
  margin: 0 auto;
  font-size: smaller;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  margin-top: 20px;
} */

.dark-switch {
  margin: 0 auto;
}

.switch {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  border-radius: 36px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 4px;
  background-color: #f5f4f8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #330499;
}

input:focus + .slider {
  box-shadow: 0 0 1px #330499;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
