* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 112.5%;
  color: var(--font-color);
  line-height: 1.5;
  margin: 0;
  color: #330499;
}

.main-grid {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vh;
  grid-template-rows: [header]60px [content]auto [footer]60px;
  grid-template-columns: 375px;
  margin: 0 auto;
}

.header {
  grid-row: header;
  background-color: #dcccff;
  text-align: center;
}

.header-title-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.content-grid {
  display: flex;
  grid-row: content;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f5f4f8;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
.question-box {
  display: flex;
  position: relative;
  height: auto;
  background-color: #f5f4f8;
  border-radius: 5px;
  margin: 20px;
  font-size: 1em;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  padding-left: -20px;
}

.profile-name {
  padding: 10px;
}

.about-me {
  background-color: #f5f4f8;
  border-bottom: solid 1px #330499;
  padding-bottom: 50px;
  margin: 20px;
  font-size: 1em;
}

.about-me-title {
  margin: 0;
}

.tags-box {
  background-color: #f5f4f8;
  border-bottom: solid 1px #330499;
  margin: 20px;
  font-size: 1em;
  padding-bottom: 50px;
}

.tags-box-title {
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.tags > li {
  border: solid 1px #dcccff;
  border-radius: 5px;
  color: #a195b9;
  padding: 0 5px;
  margin-left: 2px;
  margin-bottom: -10px;
  margin-right: 2px;
}

.button {
  cursor: pointer;
  margin: 0 auto;
  font-size: smaller;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  margin: 50px;
}

.button:hover {
  background-color: grey;
}

.footer {
  display: flex;
  grid-row: footer;
  justify-content: space-around;
  align-items: center;
  background-color: #dcccff;
  font-size: 40px;
}
